<!DOCTYPE html>
<html language="zh-cn">
  <head>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" type="text/javascript"></script>
    <script src="{% static 'js/WXLsearch.js' %}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>社恐网络队课程项目</title>
  </head>
  <body>  
    <h1>微博数据分析结果</h1>
    <div class="navigation">
      <ul class="nav">
          <li><a href= "http://127.0.0.1:8000/questionAnswering/" >问答</a></1i>
          <li><a href= "http://127.0.0.1:8000/weiboClassification/">分析</a></li>
          <li><a href= "http://127.0.0.1:8000/">首页</a></li>  
      </ul>
    </div>
    <br><br><br>
    <h1>微博数据聚类结果</h1>
    <img src="{{ image_cluters }}">
    <p>聚类结果每一类的词云图如下： </p>
    {% for cluster_image in cluster_list %}
        <img src="{{ cluster_image }}">
    {% endfor %}
    <h1>微博数据分类结果</h1>
    <img src="{{ image }}">
    <p>KNN的预测准确率为： {{ accuracy }}</p>
    <h1>微博数据情感分析</h1>
    <p>情感分析的词云图如下： </p>
  </body>  
  
</html>